@charset "utf-8";
/* CSS Document */

/*.button form{width:100%;position:absolute; left:0; top:0;opacity:0; filter:alpha(opacity=0);}*/
/*.button form input{width: 100%;}*/
/*.button p {*/
	/*color:#000;*/
/*}*/
