<script>
    $(function () {
        $('#BookInfoManager_datagrid').datagrid({
            view: detailview,
            detailFormatter: function (index, row) {
                return '<div> ' +
                    '<table id="book_borrow_datagrid_'+index+'" title="学生图书借阅详情表" class="easyui-datagrid" style="width:900px;height:auto">' +
                    '<thead>' +
                    '<th data-options="field:\'stu_account\',width:80,hidden:true,align:\'center\'">学生账号</th>' +
                    '<th data-options="field:\'book_name\',width:120,align:\'center\'">书籍名称</th>' +
                    '<th data-options="field:\'book_type\',width:100,align:\'center\'">书籍类型</th>' +
                    '<th data-options="field:\'book_image\',width:120,align:\'center\',formatter:function(value,row,index){' +
                    ' return imageaddress(value,row,index);}">书籍图片</th>' +
                    '<th data-options="field:\'book_out_time\',width:100,align:\'center\'">借阅时间</th>' +
                    '<th data-options="field:\'book_int_time\',width:100,align:\'center\'">归还时间</th>' +
                    '<th data-options="field:\'book_state\',width:80,align:\'center\',formatter:function(value,row,index){' +
                    '  if(row.book_state==0){return \'已借出\'}else{return \'已归还\'}}">借阅状态</th>' +
                    '<th data-options="field:\'caozuo\',width:120,align:\'center\',formatter: function(value,row,index){' +
                    '     return caozuo1(value,row,index);}">相关操作</th>' +
                    '</thead>' +
                    '</table>' +
                    '</div>';
            },
            onExpandRow: function (index, row) {
                $('#book_borrow_datagrid_'+index).datagrid({
                    url: '/demo/getStuBorrow_bookInfo',
                    fitColumns: true,
                    singleSelect: true,
                    striped: true,
                    pagination: true,
                    rownumbers: true,
                    pageSize: 5,
                    pageList: [5, 10, 20, 30, 40, 50],
                    queryParams: {
                        stu_account:row.stu_account
                    },
                    onResize: function () {
                        $('#BookInfoManager_datagrid').datagrid('fixDetailRowHeight', index);
                        $('#BookInfoManager_datagrid').datagrid('fixRowHeight', index);
                    },
                    onLoadSuccess: function () {
                        setTimeout(function () {
                            $('#BookInfoManager_datagrid').datagrid('fixDetailRowHeight', index);
                            $('#BookInfoManager_datagrid').datagrid('fixRowHeight', index);
                        }, 0);
                    }
                })
                $('#BookInfoManager_datagrid').datagrid('fixDetailRowHeight', index);
                $('#BookInfoManager_datagrid').datagrid('fixRowHeight', index);
            }
        })
    })
    function bookloan(){
        $('#BookInfoManagerForm').form('clear');
        $('#BookInfoManager_dialog').dialog('open').dialog('setTitle','图书借阅系统');
    }
    function caozuo(value,row,index){
        return "<a href='javascript:void(0)' class='easyui-linkbutton' iconCls:'icon-search' plain=true onclick='deleteBookInfo("+index+")' >删除借阅记录</a>";
    }
    function caozuo1(value,row,index) {
        return "<a href='javascript:void(0)' class='easyui-linkbutton' iconCls:'icon-search' plain=true onclick='bookback("+index+")' >图书归还</a> | " +
                "<a href='javascript:void(0)' class='easyui-linkbutton' iconCls:'icon-search' plain=true onclick='book_renewal("+index+")' >图书续借</a>";
    }
    function book_renewal(rowindex) {
                $('#book_borrow_datagrid').datagrid('selectRow',rowindex);
        var row=$('#book_borrow_datagrid').datagrid('getSelected');
        if(row.book_state==0){
            $.messager.confirm('系统提示','你确定要续借'+row.book_name+'这本书吗？',function(r){
                if (r){
                    $.ajax({
                        url:'/demo/book_renewal',
                        type:"post",
                        dataType:'json',
                        data:{
                            stu_account:row.stu_account,
                            book_name:row.book_name
                        },
                        success:function (data) {
                            if(data.success){
                                $.messager.alert('系统提示',data.msg,'info');
                                $('#book_borrow_datagrid').datagrid('reload');
                            }else{
                                $.messager.alert('系统提示',data.msg,'error');
                            }
                        },
                        error:function () {
                            alert("出错了，请联系管理员！");
                        }
                    })
                }
            });
        }else{
            $.messager.alert('温馨提示','你已归还当前图书，无法再进行续借，如果你想续借，请先借阅该图书之后操作！','info');
        }
    }
    function saveBookUser() {
        $('#BookInfoManagerForm').form('submit', {
                     url:"/demo/SaveBookloanInfo",
            onBeforeLoad:function(){
                $.messager.progress();
                },
            success:function(data){
                var obj=$.parseJSON(data);
                $.messager.progress('close');
                if(obj.success) {
                    $('#BookInfoManager_dialog').dialog('close')
                    $('#BookInfoManager_datagrid').datagrid('reload');
                    $.messager.show({
                           title: '系统提示',
                             msg: obj.msg,
                         timeout: 5000,
                        showType: 'show'
                    });
                }else{
                    $('#BookInfoManager_dialog').dialog('close');
                    $.messager.alert('系统提示',obj.msg,'error');
                }
            },
            error:function () {
                alert("出错了，请联系管理员！");
            }
        });
    }
    function bookback(rowindex) {
                $('#book_borrow_datagrid').datagrid('selectRow',rowindex);
        var row=$('#book_borrow_datagrid').datagrid('getSelected');
        if(row){
            if(row.book_state==1){
                $.messager.alert('系统提示','你已归还当前图书！','info');
            }else {
                $.messager.confirm('温馨提示', '您确认想要归还图书吗？', function (r) {
                    if (r) {
                        $.ajax({
                                 url:'/demo/book_back',
                                type:"post",
                            dataType:'json',
                                data: {
                                     stu_account:row.stu_account,
                                     book_name:row.book_name
                                 },
                            success: function (data) {
                                if (data.success) {
                                    $('#book_borrow_datagrid').datagrid('reload');
                                    $.messager.show({
                                           title: '系统提示',
                                             msg: data.msg,
                                         timeout: 5000,
                                        showType: 'show'
                                    });
                                }else{
                                    $.messager.alert('温馨提示',data.msg,'error');
                                }
                            }
                        })
                    }
                });
            }
        }
    }
    function deleteBookInfo(rowindex) {
                $('#BookInfoManager_datagrid').datagrid('selectRow',rowindex);
        var row=$('#BookInfoManager_datagrid').datagrid('getSelected');
        if(row){
            $.messager.confirm('确认','您确认想要删除图书记录吗？',function(r){
                if (r){
                    $.ajax({
                             url:'/demo/delete_book_back',
                            type:"post",
                        dataType:'json',
                        data:{
                            stu_account:row.stu_account
                        },
                        success:function (data) {
                            if(data.success){
                                $('#BookInfoManager_datagrid').datagrid('reload');
                                $.messager.show({
                                       title:'系统提示',
                                         msg:data.msg,
                                     timeout:5000,
                                    showType:'show'
                                });
                            }else{
                                $.messager.alert('温馨提示',data.msg,'error');
                            }
                        },
                        error:function () {
                            alert("出错了，请联系管理员！");
                        }
                    })
                }
            });
        }
    }
    function imageaddress(value,row,index){
        return "<img src='"+row.book_image+"' style='height: 100px;width: 100px'>";
    }
</script>
<div style="margin:10px">
   <table id="BookInfoManager_datagrid" title="学生图书借阅信息管理表" class="easyui-datagrid" style="width:1024px;height:650px"
                            data-options="
                                     url:'/demo/getALLBookUserInfo',
                              fitColumns:true,
                            singleSelect:true,
                                 striped:true,
                              pagination:true,
                              rownumbers:true,
                                pageSize:5,
                                pageList:[5,10,20,30,40,50],
                                toolbar: '#BookInfoManager_toobar'
                            ">
         <thead>
             <th data-options="field:'stu_account',width:80">学生学号</th>
             <th data-options="field:'stu_name',width:120">学生姓名</th>
             <th data-options="field:'stu_class',width:100">所在班级</th>
             <th data-options="field:'caozuo',width:140,align:'center',formatter: function(value,row,index){
                 return caozuo(value,row,index);
             }">相关操作</th>
         </thead>
     </table>
     <div id="BookInfoManager_toobar" style="margin-bottom:5px;padding:5px">
         <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="bookloan()">借阅图书</a>
     </div>
   <!--  图书借阅信息对话框-->
    <div id="BookInfoManager_dialog" class="easyui-dialog" style="width:450px;height:300px;padding:20px;"
         data-options="iconCls:'icon-edit',resizable:true,modal:true,buttons:'#BookInfoManager_button',closable:false,closed:true">
        <div class="ftitle">新增/编辑借阅图书信息界面</div>
        <form  id="BookInfoManagerForm" method="post" enctype="multipart/form-data">
            <div class="fitem" style="text-align:center">
                <label>学生学号</label>
                <input class="easyui-textbox" style="width:250px;height:25px" name="stu_account" id="stu_account"
                       data-options="required:true,missingMessage:'学生学号必须填写(11位数字)'"/>
            </div>
            <div class="fitem" style="text-align:center">
                <label>书籍名称</label>
                <input class="easyui-textbox" style="width:250px;height:25px" name="book_name" data-options="required:true,missingMessage:'借阅书籍名称必填'" />
            </div>
            <div class="fitem" style="text-align:center">
                <label>书籍类型</label>
                <select class="easyui-combobox" name="book_type" style="width:250px;" data-options="required:true,missingMessage:'借阅书籍类型必填'">
                    <option value="汉语文学">汉语文学</option>
                    <option value="计算机科学技术类">计算机科学技术类</option>
                    <option value="自然科学类">自然科学类</option>
                    <option value="医疗健康领域">医疗健康领域</option>
                    <option value="电子商务应用领域">电子商务应用领域</option>
                </select>
            </div>
            <div class="fitem" style="text-align:center">
                <label>上传图片</label>
                <input class="easyui-filebox" name="bookImage" data-options="prompt:'Choose a file...'" style="width:250px;height:25px">
            </div>
        </form>
    </div>
    <div id="BookInfoManager_button" style="margin-bottom:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="saveBookUser()">保存借书记录</a>
        <a href="javascript:$('#BookInfoManager_dialog').dialog('close')" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">关闭</a>
    </div>
</div>