<script>
function clearLog() {
    $.messager.confirm('系统提示','您确认想要清空所有的日志记录吗？',function(r){
        if (r){
            $.ajax({
                url:'/demo/clearLog',
                type:"post",
                success:function (data) {
                    if(data.success){
                        $.messager.alert('系统提示',data.msg,'info');
                        $('#LogRecord_datagrid').datagrid('reload');
                    }else{
                        $.messager.alert('系统提示',data.ms,'error');
                    }
                },
                error:function () {
                    alert("出错了，请联系管理员！");
                }
            })
        }
    });
}
</script>
<div style="margin: 10px">
    <table id="LogRecord_datagrid" title="日志管理" class="easyui-datagrid" style="width:960px;height:450px" data-options="
                            url:'/demo/GetALLLogRecordInfo',
                     fitColumns:true,
                   singleSelect:true,
                        striped:true,
                     rownumbers:true,
                     pagination:true,
                       pageSize:10,
                       pageList:[10,20,30,40,50],
                        toolbar: '#LogManager_toobar'
                ">
        <thead>
        <tr>
            <th data-options="field:'remote',width:120">路由地址</th>
            <th data-options="field:'content',width:150">日志内容</th>
            <th data-options="field:'operatetime',width:100">记录时间</th>
            <th data-options="field:'author',width:100">操作者</th>
        </tr>
        </thead>
    </table>
    <div id="LogManager_toobar" style="padding: 5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cut'" onclick="clearLog()">清除日志</a>
    </div>
</div>