<script>
    function addCardUser(){
        $('#cardUserForm').form('clear');
        $('#CarUserdManager_dialog').dialog('open').dialog('setTitle','新增校园卡用户');
    }
    function caozuo(value,row,index){
        return " <a href='javascript:void(0)' class='easyui-linkbutton' iconCls:'icon-search' plain=true onclick='Card_charge("+index+")' >充值缴费</a> |"
            +"<a href='javascript:void(0)' class='easyui-linkbutton' iconCls:'icon-search' plain=true onclick='deleteCardUser("+index+")' >删除</a>";
    }
    function saveCardUser() {
        $('#cardUserForm').form('submit', {
            url:"/demo/SaveCardUser",
            success:function(data){
                var obj=$.parseJSON(data);
                if(obj.success) {
                    $('#CarUserdManager_dialog').dialog('close')
                    $('#CardManager_datagrid').datagrid('reload');
                    $.messager.show({
                        title: '系统提示',
                        msg: obj.msg,
                        timeout: 5000,
                        showType: 'show'
                    });
                }
            }
        });
    }
    function Cardcharge() {
        $('#CardManager_chargeForm').form('submit', {
            url:"/demo/Cardcharge",
            success:function(data){
                var obj=$.parseJSON(data);
                if(obj.success) {
                    $('#CardManager_charge_dialog').dialog('close')
                    $('#CardManager_datagrid').datagrid('reload');
                    $.messager.show({
                        title: '系统提示',
                        msg: obj.msg,
                        timeout: 5000,
                        showType: 'show'
                    });
                }
            }
        });
    }
    function Card_charge(rowindex) {
                 $('#CardManager_datagrid').datagrid('selectRow',rowindex);
        var row=$('#CardManager_datagrid').datagrid('getSelected');
        if(row){
            $('#CardManager_chargeForm').form('clear');
            $('#CardManager_chargeForm').form('load',row);
            $('#stu_account').textbox('readonly');
            $('#stu_name').textbox('readonly');
            $('#CardManager_charge_dialog').dialog('open').dialog('setTitle','校园卡充值界面');
        }
    }
    function deleteCardUser(rowindex) {
                $('#CardManager_datagrid').datagrid('selectRow',rowindex);
        var row=$('#CardManager_datagrid').datagrid('getSelected');
        if(row){
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        url:'/demo/deleteCardUser',
                        type:"post",
                        dataType:'json',
                        data:{
                            stu_account:row.stu_account
                        },
                        success:function (data) {
                            if(data.success){
                                $('#CardManager_datagrid').datagrid('reload');
                                $.messager.show({
                                    title:'系统提示',
                                    msg:data.msg,
                                    timeout:5000,
                                    showType:'show'
                                });
                            }
                        }
                    })
                }
            });
        }
    }
</script>
<div style="margin:10px">
    <table id="CardManager_datagrid" title="校园卡用户信息表" class="easyui-datagrid" style="width:960px;height:430px"
           data-options="
									url:'/demo/getALLCardUserInfo',
							 fitColumns:true,
						   singleSelect:true,
						        striped:true,
							 pagination:true,
							 rownumbers:true,
							   pageSize:5,
							   pageList:[5,10,20,30,40,50],
							   toolbar: '#CardManager_toobar'
						   ">
        <thead>
        <tr>
            <th data-options="field:'stu_account',width:120">校园卡号</th>
            <th data-options="field:'stu_name',width:100">用户姓名</th>
            <th data-options="field:'card_balance',width:80">当前余额</th>
            <th data-options="field:'free_unit',width:120">充值单位</th>
            <th data-options="field:'chargetime',width:100">充值时间</th>
            <th data-options="field:'caozuo',width:120,formatter: function(value,row,index){
								return caozuo(value,row,index);
						}">相关操作</th>
        </tr>
        </thead>
    </table>
    <div id="CardManager_toobar" style="margin-bottom:5px;padding:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="addCardUser()">新增校园卡用户</a>
    </div>
    <div id="CarUserdManager_dialog" class="easyui-dialog" style="width:450px;height:320px;padding:20px;"
         data-options="iconCls:'icon-edit',resizable:true,modal:true,buttons:'#CarUserdManager_button',closable:false,closed:true">
        <div class="ftitle">新增/编辑校园卡用户信息</div>
            <form method="post" id="cardUserForm">
                <div class="fitem" style="text-align:center">
                    <label>校园卡号</label>
                    <input class="easyui-textbox" style="width:250px;height:25px" name="stu_account">
                </div>
                <div class="fitem" style="text-align:center">
                    <label>充值金额</label>
                    <input class="easyui-textbox" style="width:250px;height:25px" name="charge_money">
                </div>
                <div class="fitem" style="text-align:center">
                    <label>充值单位</label>
                    <select  class="easyui-combobox"  style="width:250px;height:25px" name="free_unit">
                        <option value="丽水学院后勤服务中心">丽水学院后勤服务中心</option>
                    </select>
                </div>
            </form>
    </div>
    <div id="CarUserdManager_button" style="margin-bottom:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="saveCardUser()">保存</a>
        <a href="javascript:$('#CarUserdManager_dialog').dialog('close')" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">关闭</a>
    </div>

    <div id="CardManager_charge_dialog" class="easyui-dialog" style="width:450px;height:320px;padding:20px;"
         data-options="iconCls:'icon-edit',resizable:true,modal:true,buttons:'#CardManager_charge_button',closable:false,closed:true">
        <div class="ftitle">校园卡费用充值界面</div>
        <form  id="CardManager_chargeForm" method="post">
            <div class="fitem" style="text-align:center">
                <label>校园卡号</label>
                <input class="easyui-textbox" style="width:250px;height:25px" name="stu_account" id="stu_account">
            </div>
            <div class="fitem" style="text-align:center">
                <label>用户姓名</label>
                <input class="easyui-textbox" style="width:250px;height:25px" name="stu_name" id="stu_name" >
            </div>
            <div class="fitem" style="text-align:center">
                <label>充值金额</label>
                <input class="easyui-textbox" style="width:250px;height:25px" name="charge_money">
            </div>
        </form>
    </div>
    <div id="CardManager_charge_button" style="margin-bottom:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="Cardcharge()">确认充值</a>
        <a href="javascript:$('#CardManager_charge_dialog').dialog('close')" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">关闭</a>
    </div>
</div>