<!doctype html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>聆听时光</title>
<style>
    * {
        padding: 0;
        margin: 0;
    }
    body {
        height: 100%;
        background-attachment: fixed;
        overflow-y: hidden;
    }
    #vi{
	    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
</style>
</head>
<body>
   <video id="vi" src="" poster="Images/video_playIcon.jpg" controls="controls" width="80%" height="80%">您的浏览器不支持</video>
   <script type="text/javascript" src="js/alert.js"></script>
   <script th:inline="javascript">
     var path = [[${path}]];
     var type = [[${type}]];
     var ovideo = document.getElementById("vi");
     if(type.search("video")!=-1){
         ovideo.src = path;
     }
     else {
         alert("文件类型不支持");
     }
 </script>
</body>
</html>
