<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.CardChargeDaoMapper">

    <select id="getcardinfo" parameterType="String" resultType="CardCharge">
        select * from student st LEFT JOIN card ca on st.stud_account=ca.stu_account where ca.stu_account=#{stu_account}
    </select>
    <select id="findAllCardInfo" resultType="CardCharge">
        select * from card ca LEFT JOIN  student st on ca.stu_account=st.stud_account
    </select>
    <select id="countAllCardInfo" resultType="int">
        select count(*) from card
    </select>
    <insert id="saveCardinfo" parameterType="CardCharge">
        insert into card(stu_account,free_unit,card_balance,chargetime)
        values(#{stu_account},#{free_unit},#{card_balance},#{chargetime})
    </insert>
    <update id="chargeFree" parameterType="CardCharge">
            update card set card_balance=#{card_balance},
                                   chargetime=#{chargetime}
            where stu_account=#{stu_account}
    </update>
    <delete id="deleteCardInfo" parameterType="String">
        delete from card where stu_account=#{stu_account}
    </delete>
</mapper>