<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.LogDaoMapper">
    <select id="findALLLogInfo" resultType="Log">
        select * from log_record
    </select>
    <select id="findAllLogInfoTotals" resultType="int">
        select count(*) from log_record
    </select>
    <insert id="insertLog" parameterType="Log">
        insert into log_record(author,content,operatetime,remote)
        values(#{author},#{content},#{operatetime},#{remote})
    </insert>
    <delete id="removeLog">
        delete from log_record
    </delete>
</mapper>