<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.StudentDaoMapper">
    <resultMap id="studentInfoResult" type="Student">
        <result property="studentNumber" column="stu_account"/>
        <result property="studentPassword" column="stu_password"/>
        <result property="studentName" column="stu_name"/>
        <result property="studentAddress" column="stu_address"/>
        <result property="studentClass" column="stu_class"/>
        <result property="studentStay" column="stay_number"/>
    </resultMap>

    <insert id="savestuent" parameterType="Student">
        insert into student(stu_account,stu_password,stu_name,stu_address,stu_class,stay_number)
        values(#{studentNumber},#{studentPassword},#{studentName},#{studentAddress},#{studentClass},#{studentStay})
    </insert>
    <delete id="deletestudent" parameterType="String">
        delete from student where stu_account=#{studentNumber}
    </delete>
    <update id="updatestudent" parameterType="Student">
        update student set stu_name=#{studentName},
                        stu_address=#{studentAddress},
                        stu_class=#{studentClass},
                        stay_number=#{studentStay}
                    where stu_account=#{studentNumber}
    </update>
    <update id="updatepassword"  parameterType="Student">
        update student set stu_password=#{studentPassword} where stu_account=#{studentNumber}
    </update>
    <select id="findAllstudentinfo" resultMap="studentInfoResult">
        select * from student
    </select>
    <select id="getStudent" parameterType="String" resultMap="studentInfoResult">
        select * from student where stu_account=#{studentNumber}
    </select>
    <select id="getAllStudentcount" resultType="int">
        select count(*) from student
    </select>
</mapper>